body {
  font-family: "Roboto", sans-serif;
}
/* Typography */
.font-martel {
  font-family: "Kaushan Script", cursive;
}
h1 {
  font-size: 50px;
  line-height: 1.3;
}
h2 {
  font-size: 42px;
}
p {
  font-size: 18px;
  line-height: 1.7;
}
.t-red {
  color: #f20202;
}
/* Header  */
.navbar {
  justify-content: space-between;
  color: #fff;
}
.navbar a {
  color: #fff;
}
/* Hero  */
.hero {
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 100vh;
  color: #fff;
}
.hero .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.hero .overlay .row {
  height: 100%;
}
/* autocomplete */
.restaurant-search input {
  height: 60px;
  padding-left: 20px;
  border-radius: 5px;
}
.ui-menu {
  background-color: #fff;
  padding: 10px 20px;
  width: auto;
  max-width: 400px;
  overflow: hidden;
  border: 1px solid #eee;
}
.ui-menu .ui-menu-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  list-style: none;
  cursor: pointer;
}
.ui-menu .ui-menu-item:last-of-type {
  border-bottom: none;
}
.ui-menu .ui-menu-item .list-item {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* about */
.about {
  margin-top: 150px;
  margin-bottom: 150px;
}
.about img {
  border-radius: 12px;
}
/* popular */
.popular {
  margin-top: 150px;
  margin-bottom: 150px;
}
.popular img {
  border-radius: 12px;
}
/* overview */
.overview {
  background-color: #f20202;
  color: #fff;
}
.overview p {
  font-size: 26px;
}
/* Gallery  */
.gallery {
  margin-top: 150px;
  margin-bottom: 150px;
}
/* Story */
.our-story {
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-radius: 12px;
  overflow: hidden;
}
.our-story .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
/* Footer  */
.footer {
  background-color: black;
  color: white;
}
.footer a {
  color: white;
}
